{% extends "modal.html" %}

{% load url from future %}
{% load i18n %}

{% block dialog_id %}user-password-modal-{{edit_user.id}}{% endblock %}

{% block dialog_class %}
    in modal-visible
{% endblock %}

{% block dialog_action %}{% url "admin-change-password" edit_user.id %}{% endblock %}

{% block dialog_title %}Change password (user: {{ edit_user }}){% endblock %}

{% block dialog_buttons %}
<button type="submit" class="btn btn-primary">
	{% trans "Change password" %}
</button>
{% endblock %}


{% block dialog_script %}
<script type="text/javascript">
$('#user-password-modal-{{edit_user.id}} form').ajaxForm({
	target:'#user-password-modal-{{edit_user.id}}',
    success: function(data)
    {
        if(data == 'OK')
        {
            window.location.href = "{% url 'manage-users' %}";
            return false;
        }
    }
});
</script>
{% endblock dialog_script %}